@tailwind base;
@tailwind components;
@tailwind utilities;

#header-div {
	display: flex;
	justify-content: space-evenly;
	padding-top: 1.5%;
}
#header-div h1{
	color:hsl(var(--nc));
    font-size: xx-large;
}
.dropdown .dropdown-content{
    color:black;
}